@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply text-center py-2 px-4 rounded-md transition-colors;
	}
	.form-control {
		@apply block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-gray-300 rounded transition-colors ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:outline-none;
	}
	.form-modern {
		@apply block w-full border-b-2 p-2 pl-0 transition-all outline-0 hover:border-gss focus:border-gss;
	}
	.dropdown-item {
		@apply w-full text-left text-gray-700 block px-4 py-2 text-sm transition-colors cursor-pointer hover:bg-gss-light hover:text-white;
	}
	.menu-item {
		@apply w-full rounded-md px-4 py-2 mb-2 text-lg text-white transition-colors cursor-pointer hover:bg-white hover:text-dark;
	}
	.modal {
		@apply fixed top-0 left-0 h-screen w-screen z-50 overflow-auto sm:px-6;
	}
	.modal-dialog {
		@apply flex w-full items-start sm:py-12;
	}
	.modal-backdrop {
		@apply h-full w-full absolute top-0 left-0 z-40 bg-neutral-900 opacity-40;
	}
	.modal-content {
		max-width: 650px;
		@apply h-screen relative bg-white z-20 overflow-hidden w-full sm:mx-auto sm:h-auto sm:mt-10 sm:rounded-md;
	}
	.modal-content-header {
		@apply bg-white border-b px-6 py-4;
	}
	.modal-content-body {
		height: calc(100vh - 136px);
		@apply p-6 overflow-auto sm:h-auto;
	}
	.modal-content-body.no-footer {
		height: calc(100vh - 63px);
		@apply sm:h-auto;
	}
	.modal-content-footer {
		@apply sticky bg-white w-full bottom-0 left-0 px-6 py-4 border-t sm:relative;
	}

	/* indicators  */
	.indicator-item {
		@apply flex items-center mb-3 transition-colors;
	}

	.indicator-line {
		@apply bg-gray-600 transition-colors;
	}

	.indicator-dot {
		@apply rounded-full bg-gray-600 transition-colors;
	}

	.indicator-title {
		@apply text-center;
	}

	.indicator-item.active .indicator-line, .indicator-item.active .indicator-dot {
		@apply bg-blue-500;
	}

	.indicator-item.active .indicator-title {
		@apply text-blue-500;
	}

	.indicator-item.done .indicator-line, .indicator-item.done .indicator-dot {
		@apply bg-green-500;
	}

	.indicator-item.done .indicator-title {
		@apply text-green-500;
	}

	/* menu  */
	.menu .menu-item, .menu .submenu-item {
		@apply mb-3 flex items-center rounded-md justify-start relative text-white px-3 py-2 cursor-pointer transition-colors hover:bg-white hover:text-gray-700;
	}

	.menu-item.active {
		@apply bg-red-400 text-white hover:bg-red-400 hover:text-white;
	}

	.submenu-item.active {
		@apply bg-gray-700 text-white;
	}
}